*                           @reearth/visualizer-codeowners

/server/                    @soneda-yuya @wilfredmulenga

/web/                       @airslice @mkumbobeaty

/e2e/                       @waqaszulfiqar @airslice
