{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": false,
        "useBuiltIns": "usage",
        "corejs": 3
      }
    ],
    "@babel/typescript",
    "@babel/react"
  ],
  "plugins": [
    "@emotion",
    "@babel/plugin-transform-typescript",
    "react-intl-auto" // delete when migration to i18next is complete
  ],
  "env": {
    "test": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "targets": {
              "node": "current"
            }
          }
        ]
      ]
    }
  }
}
