services:

  reearth-visualizer-dev:
    build:
      context: ./server
      dockerfile: Dockerfile.dev
    environment:
      - SKIP_DOTENV=true
    env_file:
      - ./server/.env.docker
    ports:
      - 8080:8080
    depends_on:
      reearth-mongo:
        condition: service_started
      reearth-gcs:
        condition: service_started
      reearth-accounts-api:
        condition: service_started
        required: false
    volumes:
      - ./server:/reearth-visualizer       # Mount source code for hot reload
      - /reearth-visualizer/tmp            # Exclude tmp directory
    networks:
      - reearth

  reearth-accounts-api:
    image: reearth/reearth-accounts-api:v1.0.0
    hostname: reearth-accounts-dev
    profiles:
      - accounts
    env_file:
      - ./accounts/.env.docker
    ports:
      - 8090:8090
    depends_on:
      - reearth-mongo
      - reearth-cerbos
    networks:
      - reearth

  reearth-cerbos:
    image: cerbos/cerbos:0.40.0
    profiles:
      - accounts
    command: server --config=/policies/.cerbos.yaml
    ports:
      - 3593:3593
    volumes:
      - ./cerbos/policies:/policies
    networks:
      - reearth

  reearth-mongo:
    image: mongo:7
    hostname: reearth-mongo
    ports:
      - 27017:27017
    volumes:
      - ${PWD}/tmp/mongo:/data/db
      - ./mongo-init.js:/docker-entrypoint-initdb.d/mongo-init.js:ro
    command: ["mongod", "--bind_ip_all", "--replSet", "rs0"]
    networks:
      - reearth

  reearth-gcs:
    image: fsouza/fake-gcs-server:1.52.1
    ports:
      - 4443:4443
    volumes:
      - ${PWD}/tmp/gcs:/storage
    command: -scheme http
    networks:
      - reearth

networks:
  reearth:
    name: reearth
