{
    "api": ${REEARTH_VISUALIZER_API},
    "auth0Audience": ${REEARTH_VISUALIZER_AUTH0_AUDIENCE},
    "auth0ClientId": ${REEARTH_VISUALIZER_AUTH0_CLIENT_ID},
    "auth0Domain": ${REEARTH_VISUALIZER_AUTH0_DOMAIN},
    "cesiumIonAccessToken": ${REEARTH_VISUALIZER_CESIUM_ION_ACCESS_TOKEN},
    "cloudApi": ${REEARTH_VISUALIZER_CLOUD_API},
    "currentTos": ${REEARTH_VISUALIZER_CURRENT_TOS},
    "developerMode": ${REEARTH_VISUALIZER_DEVELOPER_MODE},
    "documentationUrl": ${REEARTH_VISUALIZER_DOCUMENTATION_URL},
    "earlyAccessAdmins": ${REEARTH_VISUALIZER_EARLY_ACCESS_ADMINS},
    "extensionUrls": ${REEARTH_VISUALIZER_EXTENSION_URLS},
    "ip": ${REEARTH_VISUALIZER_IP},
    "marketplaceUrl": ${REEARTH_VISUALIZER_MARKETPLACE_URL},
    "multiTenant": ${REEARTH_VISUALIZER_MULTI_TENANT},
    "passwordPolicy": ${REEARTH_VISUALIZER_PASSWORD_POLICY},
    "plugins": ${REEARTH_VISUALIZER_PLUGINS},
    "policy": ${REEARTH_VISUALIZER_POLICY},
    "published": ${REEARTH_VISUALIZER_PUBLISHED}
}
