<<<<<<< HEAD
version: '3'
services:
  reearth:
    image: reearth/reearth:latest
    environment:
      REEARTH_DB: mongodb://reearth-mongo
    ports:
      - 8080:8080
    # env_file:
    #  - ./.env
    links:
      - reearth-mongo
    depends_on:
      - reearth-mongo
    volumes:
      - ./data:/reearth/data
  reearth-mongo:
    image: mongo:4.4-focal
    ports:
      - 27017:27017
    volumes:
      - ./mongo:/data/db
||||||| empty tree
=======
version: '3'
services:
  reearth-backend:
    build:
      context: .
    image: reearth/reearth-backend:nightly
    environment:
      REEARTH_DB: mongodb://reearth-mongo
    ports:
      - '8080:8080'
    # env_file:
    #   - ./.env
    links:
      - reearth-mongo
    depends_on:
      - reearth-mongo
    volumes:
      - ./data:/reearth/data
  reearth-mongo:
    image: mongo:4.4-focal
    ports:
      - 27017:27017
    volumes:
      - ./mongo:/data/db
>>>>>>> 276ef5f50090391639efeed7cb93d0da9979f39d
