{{ $name := index .Flags.name 0 }}

package {{.PackageName}}

import (
	"encoding"
	"errors"
	"strings"
	"testing"

	"github.com/blang/semver"
	"github.com/stretchr/testify/assert"
)


func TestNew{{$name}}ID(t *testing.T) {
	id := New{{$name}}ID()
    assert.NotNil(t, id)
    ulID, err := ulid.Parse(id.String())

    assert.NotNil(t, ulID)
    assert.Nil(t, err)
}

func Test{{$name}}IDFrom(t *testing.T) {
	t.Parallel()
	testCases := []struct {
		name     string
		input    string
		expected struct {
			result {{$name}}ID
			err    error
		}
	}{
		{
			name:  "Fail:Not valid string",
			input: "testMustFail",
			expected: struct {
				result {{$name}}ID
				err    error
			}{
				{{$name}}ID{},
				ErrInvalidID,
			},
		},
		{
			name:  "Fail:Not valid string",
			input: "",
			expected: struct {
				result {{$name}}ID
				err    error
			}{
				{{$name}}ID{},
				ErrInvalidID,
			},
		},
		{
			name:  "success:valid string",
			input: "01f2r7kg1fvvffp0gmexgy5hxy",
			expected: struct {
				result {{$name}}ID
				err    error
			}{
				{{$name}}ID{ulid.MustParse("01f2r7kg1fvvffp0gmexgy5hxy")},
				nil,
			},
		},
	}
	for _, tc := range testCases {
		tc := tc
		t.Run(tc.name, func(tt *testing.T) {
			tt.Parallel()
			result, err := {{$name}}IDFrom(tc.input)
			assert.Equal(tt, tc.expected.result, result)
			if err != nil {
				assert.True(tt, errors.As(tc.expected.err, &err))
			}
		})
	}
}

func TestMust{{$name}}ID(t *testing.T) {
	t.Parallel()
	testCases := []struct {
		name        string
		input       string
		shouldPanic bool
		expected    {{$name}}ID
	}{
		{
			name:        "Fail:Not valid string",
			input:       "testMustFail",
			shouldPanic: true,
		},
		{
			name:        "Fail:Not valid string",
			input:       "",
			shouldPanic: true,
		},
		{
			name:        "success:valid string",
			input:       "01f2r7kg1fvvffp0gmexgy5hxy",
			shouldPanic: false,
			expected:    {{$name}}ID{ulid.MustParse("01f2r7kg1fvvffp0gmexgy5hxy")},
		},
	}
	for _, tc := range testCases {
		tc := tc
		t.Run(tc.name, func(tt *testing.T) {
			tt.Parallel()

			if tc.shouldPanic {
				assert.Panics(tt, func() { MustBeID(tc.input) })
				return
			}
			result := Must{{$name}}ID(tc.input)
			assert.Equal(tt, tc.expected, result)
		})
	}
}

func Test{{$name}}IDFromRef(t *testing.T) {
	testCases := []struct {
		name     string
		input    string
		expected *{{$name}}ID
	}{
		{
			name:     "Fail:Not valid string",
			input:    "testMustFail",
			expected: nil,
		},
		{
			name:     "Fail:Not valid string",
			input:    "",
			expected: nil,
		},
		{
			name:     "success:valid string",
			input:    "01f2r7kg1fvvffp0gmexgy5hxy",
			expected: &{{$name}}ID{ulid.MustParse("01f2r7kg1fvvffp0gmexgy5hxy")},
		},
	}
	for _, tc := range testCases {
		tc := tc
		t.Run(tc.name, func(tt *testing.T) {
			tt.Parallel()
			result := {{$name}}IDFromRef(&tc.input)
			assert.Equal(tt, tc.expected, result)
			if tc.expected != nil {
				assert.Equal(tt, *tc.expected, *result)
			}
		})
	}
}

func Test{{$name}}IDFromRefID(t *testing.T) {
	id := New()

	subId := {{$name}}IDFromRefID(&id)

	assert.NotNil(t, subId)
	assert.Equal(t, subId.id, id.id)
}

func Test{{$name}}ID_ID(t *testing.T) {
	id := New()
	subId := {{$name}}IDFromRefID(&id)

	idOrg := subId.ID()

	assert.Equal(t, id, idOrg)
}

func Test{{$name}}ID_String(t *testing.T) {
	id := New()
	subId := {{$name}}IDFromRefID(&id)

	assert.Equal(t, subId.String(), id.String())
}

func Test{{$name}}ID_GoString(t *testing.T) {
	id := New()
	subId := {{$name}}IDFromRefID(&id)

	assert.Equal(t, subId.GoString(), "id.{{$name}}ID(" + id.String() + ")")
}

func Test{{$name}}ID_RefString(t *testing.T) {
	id := New()
	subId := {{$name}}IDFromRefID(&id)

	refString := subId.StringRef()

	assert.NotNil(t, refString)
	assert.Equal(t, *refString, id.String())
}

func Test{{$name}}ID_Ref(t *testing.T) {
	id := New()
	subId := {{$name}}IDFromRefID(&id)

	subIdRef := subId.Ref()

	assert.Equal(t, *subId, *subIdRef)
}

func Test{{$name}}ID_Contains(t *testing.T) {
	id := New{{$name}}ID()
	id2 := New{{$name}}ID()
	assert.True(t, id.Contains([]{{$name}}ID{id, id2}))
	assert.False(t, id.Contains([]{{$name}}ID{id2}))
}

func Test{{$name}}ID_CopyRef(t *testing.T) {
	id := New()
	subId := {{$name}}IDFromRefID(&id)

	subIdCopyRef := subId.CopyRef()

	assert.Equal(t, *subId, *subIdCopyRef)
	assert.NotSame(t, subId, subIdCopyRef)
}

func Test{{$name}}ID_IDRef(t *testing.T) {
	id := New()
	subId := {{$name}}IDFromRefID(&id)

	assert.Equal(t, id, *subId.IDRef())
}

func Test{{$name}}ID_StringRef(t *testing.T) {
	id := New()
	subId := {{$name}}IDFromRefID(&id)

	assert.Equal(t, *subId.StringRef(), id.String())
}

func Test{{$name}}ID_MarhsalJSON(t *testing.T) {
	id := New()
	subId := {{$name}}IDFromRefID(&id)

	res, err := subId.MarhsalJSON()
	exp, _ := json.Marshal(subId.String())

	assert.Nil(t, err)
	assert.Equal(t, exp, res)
}

func Test{{$name}}ID_UnmarhsalJSON(t *testing.T) {
	jsonString := "\"01f3zhkysvcxsnzepyyqtq21fb\""

	subId := &{{$name}}ID{}

	err := subId.UnmarhsalJSON([]byte(jsonString))

	assert.Nil(t, err)
	assert.Equal(t, "01f3zhkysvcxsnzepyyqtq21fb", subId.String())
}

func Test{{$name}}ID_MarshalText(t *testing.T) {
	id := New()
	subId := {{$name}}IDFromRefID(&id)

	res, err := subId.MarshalText()

	assert.Nil(t, err)
	assert.Equal(t, []byte(id.String()), res)
}

func Test{{$name}}ID_UnmarshalText(t *testing.T) {
	text := []byte("01f3zhcaq35403zdjnd6dcm0t2")

	subId := &{{$name}}ID{}

	err := subId.UnmarshalText(text)

	assert.Nil(t, err)
	assert.Equal(t, "01f3zhcaq35403zdjnd6dcm0t2", subId.String())

}

func Test{{$name}}ID_IsNil(t *testing.T) {
	subId := {{$name}}ID{}

	assert.True(t, subId.IsNil())

	id := New()
	subId = *{{$name}}IDFromRefID(&id)

	assert.False(t, subId.IsNil())
}

func Test{{$name}}IDToKeys(t *testing.T) {
	t.Parallel()
	testCases := []struct {
		name     string
		input    []{{$name}}ID
		expected []string
	}{
		{
			name:     "Empty slice",
			input:    make([]{{$name}}ID, 0),
			expected: make([]string, 0),
		},
		{
			name:     "1 element",
			input:    []{{$name}}ID{Must{{$name}}ID("01f3zhcaq35403zdjnd6dcm0t2")},
			expected: []string{"01f3zhcaq35403zdjnd6dcm0t2"},
		},
		{
			name: "multiple elements",
			input: []{{$name}}ID{
				Must{{$name}}ID("01f3zhcaq35403zdjnd6dcm0t1"),
				Must{{$name}}ID("01f3zhcaq35403zdjnd6dcm0t2"),
				Must{{$name}}ID("01f3zhcaq35403zdjnd6dcm0t3"),
			},
			expected: []string{
				"01f3zhcaq35403zdjnd6dcm0t1",
				"01f3zhcaq35403zdjnd6dcm0t2",
				"01f3zhcaq35403zdjnd6dcm0t3",
			},
		},
	}

	for _, tc := range testCases {
		tc := tc
		t.Run(tc.name, func(tt *testing.T) {
			tt.Parallel()
			assert.Equal(tt, tc.expected, {{$name}}IDToKeys(tc.input))
		})
	}

}

func Test{{$name}}IDsFrom(t *testing.T) {
	t.Parallel()
	testCases := []struct {
		name     string
		input    []string
		expected struct {
			res []{{$name}}ID
			err error
		}
	}{
		{
			name:  "Empty slice",
			input: make([]string, 0),
			expected: struct {
				res []{{$name}}ID
				err error
			}{
				res: make([]{{$name}}ID, 0),
				err: nil,
			},
		},
		{
			name:  "1 element",
			input: []string{"01f3zhcaq35403zdjnd6dcm0t2"},
			expected: struct {
				res []{{$name}}ID
				err error
			}{
				res: []{{$name}}ID{Must{{$name}}ID("01f3zhcaq35403zdjnd6dcm0t2")},
				err: nil,
			},
		},
		{
			name: "multiple elements",
			input: []string{
				"01f3zhcaq35403zdjnd6dcm0t1",
				"01f3zhcaq35403zdjnd6dcm0t2",
				"01f3zhcaq35403zdjnd6dcm0t3",
			},
			expected: struct {
				res []{{$name}}ID
				err error
			}{
				res: []{{$name}}ID{
					Must{{$name}}ID("01f3zhcaq35403zdjnd6dcm0t1"),
					Must{{$name}}ID("01f3zhcaq35403zdjnd6dcm0t2"),
					Must{{$name}}ID("01f3zhcaq35403zdjnd6dcm0t3"),
				},
				err: nil,
			},
		},
		{
			name: "multiple elements",
			input: []string{
				"01f3zhcaq35403zdjnd6dcm0t1",
				"01f3zhcaq35403zdjnd6dcm0t2",
				"01f3zhcaq35403zdjnd6dcm0t3",
			},
			expected: struct {
				res []{{$name}}ID
				err error
			}{
				res: nil,
				err: ErrInvalidID,
			},
		},
	}

	for _, tc := range testCases {
		tc := tc
		t.Run(tc.name, func(tt *testing.T) {
			tt.Parallel()

			if tc.expected.err != nil {
				_, err := {{$name}}IDsFrom(tc.input)
				assert.True(tt, errors.As(ErrInvalidID, &err))
			} else {
				res, err := {{$name}}IDsFrom(tc.input)
				assert.Equal(tt, tc.expected.res, res)
				assert.Nil(tt, err)
			}

		})
	}
}

func Test{{$name}}IDsFromID(t *testing.T) {
	t.Parallel()
	testCases := []struct {
		name     string
		input    []ID
		expected []{{$name}}ID
	}{
		{
			name:     "Empty slice",
			input:    make([]ID, 0),
			expected: make([]{{$name}}ID, 0),
		},
		{
			name:     "1 element",
			input:    []ID{MustBeID("01f3zhcaq35403zdjnd6dcm0t2")},
			expected: []{{$name}}ID{Must{{$name}}ID("01f3zhcaq35403zdjnd6dcm0t2")},
		},
		{
			name: "multiple elements",
			input: []ID{
				MustBeID("01f3zhcaq35403zdjnd6dcm0t1"),
				MustBeID("01f3zhcaq35403zdjnd6dcm0t2"),
				MustBeID("01f3zhcaq35403zdjnd6dcm0t3"),
			},
			expected: []{{$name}}ID{
				Must{{$name}}ID("01f3zhcaq35403zdjnd6dcm0t1"),
				Must{{$name}}ID("01f3zhcaq35403zdjnd6dcm0t2"),
				Must{{$name}}ID("01f3zhcaq35403zdjnd6dcm0t3"),
			},
		},
	}

	for _, tc := range testCases {
		tc := tc
		t.Run(tc.name, func(tt *testing.T) {
			tt.Parallel()

			res := {{$name}}IDsFromID(tc.input)
			assert.Equal(tt, tc.expected, res)
		})
	}
}

func Test{{$name}}IDsFromIDRef(t *testing.T) {
	t.Parallel()

	id1 := MustBeID("01f3zhcaq35403zdjnd6dcm0t1")
	id2 := MustBeID("01f3zhcaq35403zdjnd6dcm0t2")
	id3 := MustBeID("01f3zhcaq35403zdjnd6dcm0t3")

	testCases := []struct {
		name     string
		input    []*ID
		expected []{{$name}}ID
	}{
		{
			name:     "Empty slice",
			input:    make([]*ID, 0),
			expected: make([]{{$name}}ID, 0),
		},
		{
			name:     "1 element",
			input:    []*ID{&id1},
			expected: []{{$name}}ID{Must{{$name}}ID(id1.String())},
		},
		{
			name:  "multiple elements",
			input: []*ID{&id1, &id2, &id3},
			expected: []{{$name}}ID{
				Must{{$name}}ID(id1.String()),
				Must{{$name}}ID(id2.String()),
				Must{{$name}}ID(id3.String()),
			},
		},
	}

	for _, tc := range testCases {
		tc := tc
		t.Run(tc.name, func(tt *testing.T) {
			tt.Parallel()

			res := {{$name}}IDsFromIDRef(tc.input)
			assert.Equal(tt, tc.expected, res)
		})
	}
}

func Test{{$name}}IDsToID(t *testing.T) {
	t.Parallel()

	testCases := []struct {
		name     string
		input    []{{$name}}ID
		expected []ID
	}{
		{
			name:     "Empty slice",
			input:    make([]{{$name}}ID, 0),
			expected: make([]ID, 0),
		},
		{
			name:     "1 element",
			input:    []{{$name}}ID{Must{{$name}}ID("01f3zhcaq35403zdjnd6dcm0t2")},
			expected: []ID{MustBeID("01f3zhcaq35403zdjnd6dcm0t2")},
		},
		{
			name: "multiple elements",
			input: []{{$name}}ID{
				Must{{$name}}ID("01f3zhcaq35403zdjnd6dcm0t1"),
				Must{{$name}}ID("01f3zhcaq35403zdjnd6dcm0t2"),
				Must{{$name}}ID("01f3zhcaq35403zdjnd6dcm0t3"),
			},
			expected: []ID{
				MustBeID("01f3zhcaq35403zdjnd6dcm0t1"),
				MustBeID("01f3zhcaq35403zdjnd6dcm0t2"),
				MustBeID("01f3zhcaq35403zdjnd6dcm0t3"),
			},
		},
	}

	for _, tc := range testCases {
		tc := tc
		t.Run(tc.name, func(tt *testing.T) {
			tt.Parallel()

			res := {{$name}}IDsToID(tc.input)
			assert.Equal(tt, tc.expected, res)
		})
	}
}

func Test{{$name}}IDsToIDRef(t *testing.T) {
	t.Parallel()

	id1 := MustBeID("01f3zhcaq35403zdjnd6dcm0t1")
	subId1 := Must{{$name}}ID(id1.String())
	id2 := MustBeID("01f3zhcaq35403zdjnd6dcm0t2")
	subId2 := Must{{$name}}ID(id2.String())
	id3 := MustBeID("01f3zhcaq35403zdjnd6dcm0t3")
	subId3 := Must{{$name}}ID(id3.String())

	testCases := []struct {
		name     string
		input    []*{{$name}}ID
		expected []*ID
	}{
		{
			name:     "Empty slice",
			input:    make([]*{{$name}}ID, 0),
			expected: make([]*ID, 0),
		},
		{
			name:     "1 element",
			input:    []*{{$name}}ID{&subId1},
			expected: []*ID{&id1},
		},
		{
			name:     "multiple elements",
			input:    []*{{$name}}ID{&subId1, &subId2, &subId3},
			expected: []*ID{&id1, &id2, &id3},
		},
	}

	for _, tc := range testCases {
		tc := tc
		t.Run(tc.name, func(tt *testing.T) {
			tt.Parallel()

			res := {{$name}}IDsToIDRef(tc.input)
			assert.Equal(tt, tc.expected, res)
		})
	}
}

func TestNew{{$name}}IDSet(t *testing.T) {
	{{$name}}IdSet := New{{$name}}IDSet()

	assert.NotNil(t, {{$name}}IdSet)
	assert.Empty(t, {{$name}}IdSet.m)
	assert.Empty(t, {{$name}}IdSet.s)
}

func Test{{$name}}IDSet_Add(t *testing.T) {
	t.Parallel()

	testCases := []struct {
		name     string
		input    []{{$name}}ID
		expected *{{$name}}IDSet
	}{
		{
			name:  "Empty slice",
			input: make([]{{$name}}ID, 0),
			expected: &{{$name}}IDSet{
				m: map[{{$name}}ID]struct{}{},
				s: nil,
			},
		},
		{
			name:  "1 element",
			input: []{{$name}}ID{Must{{$name}}ID("01f3zhcaq35403zdjnd6dcm0t1")},
			expected: &{{$name}}IDSet{
				m: map[{{$name}}ID]struct{}{Must{{$name}}ID("01f3zhcaq35403zdjnd6dcm0t1"): {}},
				s: []{{$name}}ID{Must{{$name}}ID("01f3zhcaq35403zdjnd6dcm0t1")},
			},
		},
		{
			name: "multiple elements",
			input: []{{$name}}ID{
				Must{{$name}}ID("01f3zhcaq35403zdjnd6dcm0t1"),
				Must{{$name}}ID("01f3zhcaq35403zdjnd6dcm0t2"),
				Must{{$name}}ID("01f3zhcaq35403zdjnd6dcm0t3"),
			},
			expected: &{{$name}}IDSet{
				m: map[{{$name}}ID]struct{}{
					Must{{$name}}ID("01f3zhcaq35403zdjnd6dcm0t1"): {},
					Must{{$name}}ID("01f3zhcaq35403zdjnd6dcm0t2"): {},
					Must{{$name}}ID("01f3zhcaq35403zdjnd6dcm0t3"): {},
				},
				s: []{{$name}}ID{
					Must{{$name}}ID("01f3zhcaq35403zdjnd6dcm0t1"),
					Must{{$name}}ID("01f3zhcaq35403zdjnd6dcm0t2"),
					Must{{$name}}ID("01f3zhcaq35403zdjnd6dcm0t3"),
				},
			},
		},
		{
			name: "multiple elements with duplication",
			input: []{{$name}}ID{
				Must{{$name}}ID("01f3zhcaq35403zdjnd6dcm0t1"),
				Must{{$name}}ID("01f3zhcaq35403zdjnd6dcm0t1"),
				Must{{$name}}ID("01f3zhcaq35403zdjnd6dcm0t3"),
			},
			expected: &{{$name}}IDSet{
				m: map[{{$name}}ID]struct{}{
					Must{{$name}}ID("01f3zhcaq35403zdjnd6dcm0t1"): {},
					Must{{$name}}ID("01f3zhcaq35403zdjnd6dcm0t3"): {},
				},
				s: []{{$name}}ID{
					Must{{$name}}ID("01f3zhcaq35403zdjnd6dcm0t1"),
					Must{{$name}}ID("01f3zhcaq35403zdjnd6dcm0t3"),
				},
			},
		},
	}

	for _, tc := range testCases {
		tc := tc
		t.Run(tc.name, func(tt *testing.T) {
			tt.Parallel()

			set := New{{$name}}IDSet()
			set.Add(tc.input...)
			assert.Equal(tt, tc.expected, set)
		})
	}
}

func Test{{$name}}IDSet_AddRef(t *testing.T) {
	t.Parallel()

	{{$name}}Id := Must{{$name}}ID("01f3zhcaq35403zdjnd6dcm0t1")

	testCases := []struct {
		name     string
		input    *{{$name}}ID
		expected *{{$name}}IDSet
	}{
		{
			name:  "Empty slice",
			input: nil,
			expected: &{{$name}}IDSet{
				m: nil,
				s: nil,
			},
		},
		{
			name:  "1 element",
			input: &{{$name}}Id,
			expected: &{{$name}}IDSet{
				m: map[{{$name}}ID]struct{}{Must{{$name}}ID("01f3zhcaq35403zdjnd6dcm0t1"): {}},
				s: []{{$name}}ID{Must{{$name}}ID("01f3zhcaq35403zdjnd6dcm0t1")},
			},
		},
	}

	for _, tc := range testCases {
		tc := tc
		t.Run(tc.name, func(tt *testing.T) {
			tt.Parallel()

			set := New{{$name}}IDSet()
			set.AddRef(tc.input)
			assert.Equal(tt, tc.expected, set)
		})
	}
}

func Test{{$name}}IDSet_Has(t *testing.T) {
	t.Parallel()

	testCases := []struct {
		name  string
		input struct {
			{{$name}}IDSet
			{{$name}}ID
		}
		expected bool
	}{
		{
			name: "Empty Set",
			input: struct {
				{{$name}}IDSet
				{{$name}}ID
			}{ {{$name}}IDSet: {{$name}}IDSet{}, {{$name}}ID: Must{{$name}}ID("01f3zhcaq35403zdjnd6dcm0t1")},
			expected: false,
		},
		{
			name: "Set Contains the element",
			input: struct {
				{{$name}}IDSet
				{{$name}}ID
			}{ {{$name}}IDSet: {{$name}}IDSet{
				m: map[{{$name}}ID]struct{}{Must{{$name}}ID("01f3zhcaq35403zdjnd6dcm0t1"): {}},
				s: []{{$name}}ID{Must{{$name}}ID("01f3zhcaq35403zdjnd6dcm0t1")},
			}, {{$name}}ID: Must{{$name}}ID("01f3zhcaq35403zdjnd6dcm0t1")},
			expected: true,
		},
		{
			name: "Set does not Contains the element",
			input: struct {
				{{$name}}IDSet
				{{$name}}ID
			}{ {{$name}}IDSet: {{$name}}IDSet{
				m: map[{{$name}}ID]struct{}{Must{{$name}}ID("01f3zhcaq35403zdjnd6dcm0t1"): {}},
				s: []{{$name}}ID{Must{{$name}}ID("01f3zhcaq35403zdjnd6dcm0t1")},
			}, {{$name}}ID: Must{{$name}}ID("01f3zhcaq35403zdjnd6dcm0t2")},
			expected: false,
		},
	}

	for _, tc := range testCases {
		tc := tc
		t.Run(tc.name, func(tt *testing.T) {
			tt.Parallel()
			assert.Equal(tt, tc.expected, tc.input.{{$name}}IDSet.Has(tc.input.{{$name}}ID))
		})
	}
}

func Test{{$name}}IDSet_Clear(t *testing.T) {
	t.Parallel()

	testCases := []struct {
		name     string
		input    {{$name}}IDSet
		expected {{$name}}IDSet
	}{
		{
			name:  "Empty Set",
			input: {{$name}}IDSet{},
			expected: {{$name}}IDSet{
				m: nil,
				s: nil,
			},
		},
		{
			name: "Set Contains the element",
			input: {{$name}}IDSet{
				m: map[{{$name}}ID]struct{}{Must{{$name}}ID("01f3zhcaq35403zdjnd6dcm0t1"): {}},
				s: []{{$name}}ID{Must{{$name}}ID("01f3zhcaq35403zdjnd6dcm0t1")},
			},
			expected: {{$name}}IDSet{
				m: nil,
				s: nil,
			},
		},
	}

	for _, tc := range testCases {
		tc := tc
		t.Run(tc.name, func(tt *testing.T) {
			tt.Parallel()
			set := tc.input
			p := &set
			p.Clear()
			assert.Equal(tt, tc.expected, *p)
		})
	}
}

func Test{{$name}}IDSet_All(t *testing.T) {
	t.Parallel()

	testCases := []struct {
		name     string
		input    *{{$name}}IDSet
		expected []{{$name}}ID
	}{
		{
			name: "Empty slice",
			input: &{{$name}}IDSet{
				m: map[{{$name}}ID]struct{}{},
				s: nil,
			},
			expected: make([]{{$name}}ID, 0),
		},
		{
			name: "1 element",
			input: &{{$name}}IDSet{
				m: map[{{$name}}ID]struct{}{Must{{$name}}ID("01f3zhcaq35403zdjnd6dcm0t1"): {}},
				s: []{{$name}}ID{Must{{$name}}ID("01f3zhcaq35403zdjnd6dcm0t1")},
			},
			expected: []{{$name}}ID{Must{{$name}}ID("01f3zhcaq35403zdjnd6dcm0t1")},
		},
		{
			name: "multiple elements",
			input: &{{$name}}IDSet{
				m: map[{{$name}}ID]struct{}{
					Must{{$name}}ID("01f3zhcaq35403zdjnd6dcm0t1"): {},
					Must{{$name}}ID("01f3zhcaq35403zdjnd6dcm0t2"): {},
					Must{{$name}}ID("01f3zhcaq35403zdjnd6dcm0t3"): {},
				},
				s: []{{$name}}ID{
					Must{{$name}}ID("01f3zhcaq35403zdjnd6dcm0t1"),
					Must{{$name}}ID("01f3zhcaq35403zdjnd6dcm0t2"),
					Must{{$name}}ID("01f3zhcaq35403zdjnd6dcm0t3"),
				},
			},
			expected: []{{$name}}ID{
				Must{{$name}}ID("01f3zhcaq35403zdjnd6dcm0t1"),
				Must{{$name}}ID("01f3zhcaq35403zdjnd6dcm0t2"),
				Must{{$name}}ID("01f3zhcaq35403zdjnd6dcm0t3"),
			},
		},
	}

	for _, tc := range testCases {
		tc := tc
		t.Run(tc.name, func(tt *testing.T) {
			tt.Parallel()

			assert.Equal(tt, tc.expected, tc.input.All())
		})
	}
}

func Test{{$name}}IDSet_Clone(t *testing.T) {
	t.Parallel()

	testCases := []struct {
		name     string
		input    *{{$name}}IDSet
		expected *{{$name}}IDSet
	}{
		{
			name:     "nil set",
			input:    nil,
			expected: New{{$name}}IDSet(),
		},
		{
			name:     "Empty set",
			input:    New{{$name}}IDSet(),
			expected: New{{$name}}IDSet(),
		},
		{
			name: "1 element",
			input: &{{$name}}IDSet{
				m: map[{{$name}}ID]struct{}{Must{{$name}}ID("01f3zhcaq35403zdjnd6dcm0t1"): {}},
				s: []{{$name}}ID{Must{{$name}}ID("01f3zhcaq35403zdjnd6dcm0t1")},
			},
			expected: &{{$name}}IDSet{
				m: map[{{$name}}ID]struct{}{Must{{$name}}ID("01f3zhcaq35403zdjnd6dcm0t1"): {}},
				s: []{{$name}}ID{Must{{$name}}ID("01f3zhcaq35403zdjnd6dcm0t1")},
			},
		},
		{
			name: "multiple elements",
			input: &{{$name}}IDSet{
				m: map[{{$name}}ID]struct{}{
					Must{{$name}}ID("01f3zhcaq35403zdjnd6dcm0t1"): {},
					Must{{$name}}ID("01f3zhcaq35403zdjnd6dcm0t2"): {},
					Must{{$name}}ID("01f3zhcaq35403zdjnd6dcm0t3"): {},
				},
				s: []{{$name}}ID{
					Must{{$name}}ID("01f3zhcaq35403zdjnd6dcm0t1"),
					Must{{$name}}ID("01f3zhcaq35403zdjnd6dcm0t2"),
					Must{{$name}}ID("01f3zhcaq35403zdjnd6dcm0t3"),
				},
			},
			expected: &{{$name}}IDSet{
				m: map[{{$name}}ID]struct{}{
					Must{{$name}}ID("01f3zhcaq35403zdjnd6dcm0t1"): {},
					Must{{$name}}ID("01f3zhcaq35403zdjnd6dcm0t2"): {},
					Must{{$name}}ID("01f3zhcaq35403zdjnd6dcm0t3"): {},
				},
				s: []{{$name}}ID{
					Must{{$name}}ID("01f3zhcaq35403zdjnd6dcm0t1"),
					Must{{$name}}ID("01f3zhcaq35403zdjnd6dcm0t2"),
					Must{{$name}}ID("01f3zhcaq35403zdjnd6dcm0t3"),
				},
			},
		},
	}

	for _, tc := range testCases {
		tc := tc
		t.Run(tc.name, func(tt *testing.T) {
			tt.Parallel()
			clone := tc.input.Clone()
			assert.Equal(tt, tc.expected, clone)
			assert.False(tt, tc.input == clone)
		})
	}
}

func Test{{$name}}IDSet_Merge(t *testing.T) {
	t.Parallel()

	testCases := []struct {
		name  string
		input struct {
			a *{{$name}}IDSet
			b *{{$name}}IDSet
		}
		expected *{{$name}}IDSet
	}{
		{
			name: "Empty Set",
			input: struct {
				a *{{$name}}IDSet
				b *{{$name}}IDSet
			}{
				a: &{{$name}}IDSet{},
				b: &{{$name}}IDSet{},
			},
			expected: &{{$name}}IDSet{},
		},
		{
			name: "1 Empty Set",
			input: struct {
				a *{{$name}}IDSet
				b *{{$name}}IDSet
			}{
				a: &{{$name}}IDSet{
					m: map[{{$name}}ID]struct{}{Must{{$name}}ID("01f3zhcaq35403zdjnd6dcm0t1"): {}},
					s: []{{$name}}ID{Must{{$name}}ID("01f3zhcaq35403zdjnd6dcm0t1")},
				},
				b: &{{$name}}IDSet{},
			},
			expected: &{{$name}}IDSet{
				m: map[{{$name}}ID]struct{}{Must{{$name}}ID("01f3zhcaq35403zdjnd6dcm0t1"): {}},
				s: []{{$name}}ID{Must{{$name}}ID("01f3zhcaq35403zdjnd6dcm0t1")},
			},
		},
		{
			name: "2 non Empty Set",
			input: struct {
				a *{{$name}}IDSet
				b *{{$name}}IDSet
			}{
				a: &{{$name}}IDSet{
					m: map[{{$name}}ID]struct{}{Must{{$name}}ID("01f3zhcaq35403zdjnd6dcm0t1"): {}},
					s: []{{$name}}ID{Must{{$name}}ID("01f3zhcaq35403zdjnd6dcm0t1")},
				},
				b: &{{$name}}IDSet{
					m: map[{{$name}}ID]struct{}{Must{{$name}}ID("01f3zhcaq35403zdjnd6dcm0t2"): {}},
					s: []{{$name}}ID{Must{{$name}}ID("01f3zhcaq35403zdjnd6dcm0t2")},
				},
			},
			expected: &{{$name}}IDSet{
				m: map[{{$name}}ID]struct{}{
					Must{{$name}}ID("01f3zhcaq35403zdjnd6dcm0t1"): {},
					Must{{$name}}ID("01f3zhcaq35403zdjnd6dcm0t2"): {},
				},
				s: []{{$name}}ID{
					Must{{$name}}ID("01f3zhcaq35403zdjnd6dcm0t1"),
					Must{{$name}}ID("01f3zhcaq35403zdjnd6dcm0t2"),
				},
			},
		},
	}

	for _, tc := range testCases {
		tc := tc
		t.Run(tc.name, func(tt *testing.T) {
			tt.Parallel()

			assert.Equal(tt, tc.expected, tc.input.a.Merge(tc.input.b))
		})
	}
}
