name: build-release
on:
  workflow_call:
    inputs:
      sha_short:
        type: string
        required: true
      new_tag:
        type: string
        required: true
      new_tag_short:
        type: string
        required: true
      name:
        type: string
        required: true
      sha:
        type: string
        required: true

jobs:
  server:
    name: Build and release server
    runs-on: ubuntu-latest
    if: inputs.name || inputs.new_tag
    env:
      ARTIFACTS: server/dist/reearth_*.*
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 0
      - name: Set up Go
        uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
        with:
          go-version: "1.25.5"
      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@e435ccd777264be153ace6237001ef4d979d3a7a # v6.4.0
        # TODO: fix error=archive named dist/reearth_0.0.0-SNAPSHOT-xxxxxxxx.tar.gz already exists. Check your archive name template
        with:
          distribution: goreleaser
          version: ~> v2
          args: release --clean ${{ inputs.new_tag == '' && '--snapshot' || '' }}
          workdir: server
        env:
          GORELEASER_CURRENT_TAG: ${{ inputs.new_tag == '' && '0.0.0' || inputs.new_tag }}
      - name: Rename artifacts
        if: ${{ inputs.name != '' }}
        run: for f in "$ARTIFACTS"; do mv "$f" $(echo "$f" | sed -E 's/_0\.0\.0-SNAPSHOT-[^_]*/_${{ inputs.name }}/'); done
      - name: List artifacts
        run: ls -l server/dist
      - name: Release nightly/rc
        if: ${{ inputs.name != '' }}
        uses: ncipollo/release-action@b7eabc95ff50cbeeedec83973935c8f306dfcd0b # v1.20.0
        with:
          allowUpdates: true
          artifacts: ${{ env.ARTIFACTS }}
          commit: ${{ inputs.sha }}
          name: ${{ inputs.name }}
          tag: ${{ inputs.name }}
          body: ${{ inputs.sha_short }}
          prerelease: true
      - name: Download latest changelog
        if: ${{ inputs.new_tag != '' }}
        uses: dawidd6/action-download-artifact@0bd50d53a6d7fb5cb921e607957e9cc12b4ce392 # v12
        with:
          workflow: release.yml
          name: changelog-${{ inputs.new_tag }}
      - name: Create GitHub release
        if: ${{ inputs.new_tag != '' }}
        uses: ncipollo/release-action@b7eabc95ff50cbeeedec83973935c8f306dfcd0b # v1.20.0
        with:
          allowUpdates: true
          artifacts: ${{ env.ARTIFACTS }}
          commit: ${{ inputs.sha }}
          name: ${{ inputs.new_tag }}
          tag: ${{ inputs.new_tag}}
          bodyFile: CHANGELOG_latest.md
