name: deploy-server-nightly
on:
  workflow_dispatch:
  workflow_call:
concurrency:
  group: ${{ github.workflow }}
  cancel-in-progress: true
env:
  GCP_REGION: us-central1
  IMAGE: reearth/reearth-visualizer-api:nightly
  IMAGE_GCP: us-central1-docker.pkg.dev/${{ secrets.GCP_PROJECT_ID }}/reearth/reearth-visualizer-api:nightly
jobs:
  deploy_test:
    runs-on: ubuntu-latest
    if: github.event.repository.full_name == 'reearth/reearth-visualizer'
    permissions:
      contents: read
      id-token: write
    steps:
      - uses: actions/checkout@v4
      - uses: google-github-actions/auth@v2
        with:
          service_account: ${{ secrets.GCP_SA_EMAIL }}
          workload_identity_provider: ${{ secrets.WORKLOAD_IDENTITY_PROVIDER }}
      - name: Set up Cloud SDK
        uses: google-github-actions/setup-gcloud@v2
      - name: Configure docker
        run: gcloud auth configure-docker us-central1-docker.pkg.dev --quiet
      - name: docker push
        run: |
          docker pull $IMAGE
          docker tag $IMAGE $IMAGE_GCP
          docker push $IMAGE_GCP
      # after creating the infrastructure, please uncomment the following steps
      # - name: Update Cloud Run Job
      #   run: |
      #     gcloud run jobs update reearth-visualizer-migration \
      #       --image $IMAGE_GCP \
      #       --region $GCP_REGION
      #       --quiet
      # - name: Execute Cloud Run Job
      #   run: |
      #     gcloud run jobs execute reearth-visualizer-migration \
      #       --region $GCP_REGION \
      #       --quiet
      - name: Deploy to Cloud Run
        run: |
          gcloud run deploy reearth-visualizer-api \
            --image $IMAGE_GCP \
            --region $GCP_REGION \
            --platform managed \
            --quiet
