name: deploy-web-nightly
on:
  workflow_dispatch:
  workflow_call:
concurrency:
  group: web-${{ github.workflow }}-${{ github.ref_name }}
  cancel-in-progress: true
jobs:
  deploy_test:
    runs-on: ubuntu-latest
    if: github.event.repository.full_name == 'reearth/reearth-visualizer'
    permissions:
      contents: read
      id-token: write
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - uses: google-github-actions/auth@ba79af03959ebeac9769e648f473a284504d9193 # v2.1.10
        with:
          service_account: ${{ secrets.GC_SA_EMAIL }}
          workload_identity_provider: ${{ secrets.GC_WORKLOAD_IDENTITY_PROVIDER }}
      - name: Set up Cloud SDK
        uses: google-github-actions/setup-gcloud@77e7a554d41e2ee56fc945c52dfd3f33d12def9a # v2.1.4
      - name: Configure docker
        run: gcloud auth configure-docker us-central1-docker.pkg.dev --quiet
      - name: docker push
        run: |
          docker pull ${{ secrets.WEB_IMAGE }}
          docker tag ${{ secrets.WEB_IMAGE }} ${{ secrets.WEB_IMAGE_GC }}
          docker push ${{ secrets.WEB_IMAGE_GC }}
      - name: Deploy to Cloud Run
        uses: google-github-actions/deploy-cloudrun@9c5864eab7354d2e132307e685a2272655932799 # v2.7.3
        with:
          service: reearth-visualizer-web
          skip_default_labels: true
          image: ${{ secrets.WEB_IMAGE_GC }}
          region: ${{ secrets.GC_REGION }}
          revision_traffic: 'LATEST=100'
