name: Verify Checklist Completion

on:
  pull_request:
    types: [opened, edited, synchronize]

jobs:
  check:
    runs-on: ubuntu-latest
    if: ${{ !startsWith(github.head_ref, 'renovate/') }}
    steps:
      - name: Get PR body
        id: pr
        uses: actions/github-script@v8
        with:
          script: |
            const body = context.payload.pull_request.body || "";
            core.setOutput("body", body);

      - name: Validate checklist
        env:
          BODY: ${{ steps.pr.outputs.body }}
        run: |
          if echo "$BODY" | grep -q '\- \[ \]'; then
            echo "❌ There are unchecked items in the checklist on this PR."
            exit 1
          fi
          echo "✅ All checklist items are checked on this PR."
