name: Playwright UI Tests On Dev

on:
  workflow_dispatch:
    inputs:
      url:
        description: "URL to run tests against"
        type: string
        required: false
  workflow_call:
    inputs:
      url:
        description: "URL to run tests against"
        type: string
        required: false

concurrency:
  group: ${{ github.workflow }}
  cancel-in-progress: true

jobs:
  test:
    runs-on: ubuntu-latest
    env:
      BASE_URL: ${{ inputs.url || secrets.REEARTH_WEB_E2E_BASEURL }}
    defaults:
      run:
        working-directory: e2e

    steps:
      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Cache Playwright browsers
        uses: actions/cache@8b402f58fbc84540c8b491a91e594a4576fec3d7 # v5.0.2
        with:
          path: ~/.cache/ms-playwright
          key: playwright-${{ runner.os }}-${{ hashFiles('**/package-lock.json') }}
          restore-keys: playwright-${{ runner.os }}-
      - name: Setup Node.js
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version: 20

      - name: Install dependencies and Playwright browsers
        run: |
          npm ci
          npx playwright install --with-deps
      - name: Run Playwright tests
        env:
          REEARTH_E2E_EMAIL: ${{ secrets.REEARTH_E2E_EMAIL }}
          REEARTH_E2E_PASSWORD: ${{ secrets.REEARTH_E2E_PASSWORD }}
          REEARTH_WEB_E2E_BASEURL: ${{ env.BASE_URL }}
          USE_IAP_AUTH: false
        run: npm run test:ui

      - name: Upload global setup error screenshot
        if: failure()
        uses: actions/upload-artifact@v4
        with:
          name: global-setup-error
          path: e2e/global-setup-error.png
          if-no-files-found: ignore
          retention-days: 5

      - name: Generate Allure Report
        if: always()
        run: npm run allure:generate

      - name: Upload artifact - Allure Report
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: allure-report
          path: e2e/allure-report/
          retention-days: 10
      - name: Upload artifact - Allure Results
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: allure-results
          path: e2e/allure-results/
          retention-days: 10
