name: Reviewer lottery
on:
  pull_request_target:
    paths:
        - web/**
    types: [opened, ready_for_review, reopened]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: uesteibar/reviewer-lottery@v4
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
