name: run-migration
on:
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref_name }}
  cancel-in-progress: true

jobs:
  migrate:
    name: Run migration (Nightly)
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    env:
      GCP_REGION: us-central1
      IMAGE: reearth/reearth-visualizer-api:nightly
      IMAGE_GCP: us-central1-docker.pkg.dev/${{ secrets.GCP_PROJECT_ID }}/reearth/reearth-visualizer-api:nightly
    steps:
      - name: Authenticate to Google Cloud
        uses: google-github-actions/auth@7c6bc770dae815cd3e89ee6cdf493a5fab2cc093 # v3.0.0
        with:
          service_account: ${{ secrets.GC_SA_EMAIL }}
          workload_identity_provider: ${{ secrets.GC_WORKLOAD_IDENTITY_PROVIDER }}

      - name: Update Migration Job
        run: |
          gcloud run jobs update reearth-visualizer-migration \
            --image $IMAGE_GCP \
            --region $GCP_REGION \
            --quiet

      - name: Execute Migration Job
        run: |
          gcloud run jobs execute reearth-visualizer-migration \
            --region $GCP_REGION \
            --wait \
            --quiet
