name: Stage
on:
  workflow_dispatch:
jobs:
  stage:
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main'
    steps:
      - uses: actions/create-github-app-token@d72941d797fd3113feb6b93fd0dec494b13a2547 # v1.12.0
        id: app-token
        with:
          app-id: ${{ vars.GH_APP_ID }}
          private-key: ${{ secrets.GH_APP_PRIVATE_KEY }}
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          fetch-depth: 0
          token: ${{ steps.app-token.outputs.token }}
      - name: git config
        env:
          GH_APP_ID: ${{ vars.GH_APP_ID }}
          GH_APP_USER: ${{ vars.GH_APP_USER }}
        run: |
          git config --global user.name ${GH_APP_USER}
          git config user.email ${GH_APP_ID}+${GH_APP_USER}[bot]@users.noreply.github.com
          git config --global pull.rebase false
      - name: Checkout release branch
        run: git switch release || git switch -c release
      - name: Merge main branch to release branch
        run: git merge -X theirs main
      - name: Git push
        run: git push origin release
